@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  --foreground: #171717;
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: F37 Ginger, Century Gothic, Sans Serif;
}

.diagonal-font {
  font-size: 14px !important;
  font-family: "F37 Ginger", Century Gothic, Sans Serif !important;
  font-weight: 400 !important;
}
